.body {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  height: 100%;
}

.title {
  font: var(--font-m);
  font-weight: 600;
  font-family: "Inter";
  color: var(--primary-color);
}

.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  align-self: center;
  border-radius: 10px;
}

.price {
  color: var(--icon-color);
  font: var(--font-m);
  font-family: "Inter";
}

.content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  min-height: 50px;
  min-width: 135px;
  color: #fff;
}

////
.item {
  display: flex;
  border: 1px solid #f0f0f0;
  border-radius: 6px;

  button {
    flex-basis: 50%;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    color: var(--primary-color);
    font: var(--font-m);
  }
}
