.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  max-width: 135px;
  min-height: 105px;
  background-color: var(--light-bg);
  border: 1px solid var(--border-color);
  width: 100%;

  border-radius: 12px;
}

.text {
  font: var(--font-m);
  color: var(--primary-color);
}

.active.link {
  background: var(--icon-color);

  & svg {
    color: #fff;
  }
}
